<h1>Documentation</h1>

<h3>Workout unit tracker (YB Tracker)</p>
<p>
	<strong>Add workout unit:</strong> Click on '+' sign in the 'calendar' and then choose workout unit type<br>
	<strong>Remove workout unit:</strong> Shift + click on the workout to be removed, either in small 'calendar' or in group summary 
	<br><br>
	<strong>On the summary page</strong>
	<br>
	you can see workouts of all people in your default group ot you can select summary for any of groups you are member of
</p>

<p>
	<strong>Setting default group</strong> can be done in account -> groups i'm in by clicking on set default action of the chosen group
</p>