// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.calendar td {
	border: 1px solid;
	text-align: center;
}

table.calendar td:hover {
}

table.calendar td:nth-child(even)	{	background:#ffffff;	}
table.calendar td:nth-child(odd)	{	background: transparent;	}
